{{include '../../public/header.html'}}
<body class="fixed-sidebar full-height-layout gray-bg" style="overflow:hidden">
    <div id="wrapper">
        {{include '../../public/nav_left.html'}}
        <!--右侧部分开始-->
        <div id="page-wrapper" class="gray-bg dashbard-1">
            {{include '../../public/nav_top.html'}}
            <div class="row J_mainContent" id="content-main">
                <!--右侧内容开始-->
                <div class="wrapper wrapper-content animated fadeInRight">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>基本 <small>分类，查找</small></h5>
                                </div>
                                <div class="ibox-content">
                                    <table class="table table-striped table-bordered table-hover dataTables-example">
                                        <thead>
                                            <tr>
                                                <th class="text-center">名称</th>
                                                <th class="text-center">链接地址</th>
                                                <th class="text-center">排序</th>
                                                <th class="text-center">状态</th>
                                                <th class="text-center">操作</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="gradeX">
                                                <td class="text-center">网站首页</td>
                                                <td class="text-center">/target
                                                </td class="text-center">
                                                <td class="text-center">
                                                    1
                                                </td>
                                                <td class="text-center">
                                                    <button class="btn btn-info btn-circle" type="button"><i class="fa fa-check"></i>
                                                    </button>
                                                    <button class="btn btn-warning btn-circle" type="button"><i class="fa fa-times"></i>
                                                    </button>
                                                </td>
                                                <td class="text-center">
                                                    <div class="btn-group">
                                                    <button data-toggle="dropdown" class="btn btn-warning dropdown-toggle">操作 <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="#">置顶</a>
                                                        </li>
                                                        <li><a href="#">修改</a>
                                                        </li>
                                                        <li><a href="#">禁用</a>
                                                        </li>
                                                        <li class="divider"></li>
                                                        <li><a href="#">删除</a>
                                                        </li>
                                                    </ul>
                                                </div></td>
                                            </tr>
                                            <tr class="gradeX">
                                                <td class="text-center">网站首页</td>
                                                <td class="text-center">/target
                                                </td class="text-center">
                                                <td class="text-center">
                                                    1
                                                </td>
                                                <td class="text-center">
                                                    <button class="btn btn-info btn-circle" type="button"><i class="fa fa-check"></i>
                                                    </button>
                                                    <button class="btn btn-warning btn-circle" type="button"><i class="fa fa-times"></i>
                                                    </button>
                                                </td>
                                                <td class="text-center">
                                                    <div class="btn-group">
                                                    <button data-toggle="dropdown" class="btn btn-warning dropdown-toggle">操作 <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="#">置顶</a>
                                                        </li>
                                                        <li><a href="#">修改</a>
                                                        </li>
                                                        <li><a href="#">禁用</a>
                                                        </li>
                                                        <li class="divider"></li>
                                                        <li><a href="#">删除</a>
                                                        </li>
                                                    </ul>
                                                </div></td>
                                            </tr>
                                            <tr class="gradeX">
                                                <td class="text-center">网站首页</td>
                                                <td class="text-center">/target
                                                </td class="text-center">
                                                <td class="text-center">
                                                    1
                                                </td>
                                                <td class="text-center">
                                                    <button class="btn btn-info btn-circle" type="button"><i class="fa fa-check"></i>
                                                    </button>
                                                    <button class="btn btn-warning btn-circle" type="button"><i class="fa fa-times"></i>
                                                    </button>
                                                </td>
                                                <td class="text-center">
                                                    <div class="btn-group">
                                                    <button data-toggle="dropdown" class="btn btn-warning dropdown-toggle">操作 <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="#">置顶</a>
                                                        </li>
                                                        <li><a href="#">修改</a>
                                                        </li>
                                                        <li><a href="#">禁用</a>
                                                        </li>
                                                        <li class="divider"></li>
                                                        <li><a href="#">删除</a>
                                                        </li>
                                                    </ul>
                                                </div></td>
                                            </tr>
                                            <tr class="gradeX">
                                                <td class="text-center">网站首页</td>
                                                <td class="text-center">/target
                                                </td class="text-center">
                                                <td class="text-center">
                                                    1
                                                </td>
                                                <td class="text-center">
                                                    <button class="btn btn-info btn-circle" type="button"><i class="fa fa-check"></i>
                                                    </button>
                                                    <button class="btn btn-warning btn-circle" type="button"><i class="fa fa-times"></i>
                                                    </button>
                                                </td>
                                                <td class="text-center">
                                                    <div class="btn-group">
                                                    <button data-toggle="dropdown" class="btn btn-warning dropdown-toggle">操作 <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="#">置顶</a>
                                                        </li>
                                                        <li><a href="#">修改</a>
                                                        </li>
                                                        <li><a href="#">禁用</a>
                                                        </li>
                                                        <li class="divider"></li>
                                                        <li><a href="#">删除</a>
                                                        </li>
                                                    </ul>
                                                </div></td>
                                            </tr>
                                            <tr class="gradeX">
                                                <td class="text-center">网站首页</td>
                                                <td class="text-center">/target
                                                </td class="text-center">
                                                <td class="text-center">
                                                    1
                                                </td>
                                                <td class="text-center">
                                                    <button class="btn btn-info btn-circle" type="button"><i class="fa fa-check"></i>
                                                    </button>
                                                    <button class="btn btn-warning btn-circle" type="button"><i class="fa fa-times"></i>
                                                    </button>
                                                </td>
                                                <td class="text-center">
                                                    <div class="btn-group">
                                                    <button data-toggle="dropdown" class="btn btn-warning dropdown-toggle">操作 <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="#">置顶</a>
                                                        </li>
                                                        <li><a href="#">修改</a>
                                                        </li>
                                                        <li><a href="#">禁用</a>
                                                        </li>
                                                        <li class="divider"></li>
                                                        <li><a href="#">删除</a>
                                                        </li>
                                                    </ul>
                                                </div></td>
                                            </tr>
                                            <tr class="gradeX">
                                                <td class="text-center">网站首页</td>
                                                <td class="text-center">/target
                                                </td class="text-center">
                                                <td class="text-center">
                                                    1
                                                </td>
                                                <td class="text-center">
                                                    <button class="btn btn-info btn-circle" type="button"><i class="fa fa-check"></i>
                                                    </button>
                                                    <button class="btn btn-warning btn-circle" type="button"><i class="fa fa-times"></i>
                                                    </button>
                                                </td>
                                                <td class="text-center">
                                                    <div class="btn-group">
                                                    <button data-toggle="dropdown" class="btn btn-warning dropdown-toggle">操作 <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="#">置顶</a>
                                                        </li>
                                                        <li><a href="#">修改</a>
                                                        </li>
                                                        <li><a href="#">禁用</a>
                                                        </li>
                                                        <li class="divider"></li>
                                                        <li><a href="#">删除</a>
                                                        </li>
                                                    </ul>
                                                </div></td>
                                            </tr>
                                            <tr class="gradeX">
                                                <td class="text-center">网站首页</td>
                                                <td class="text-center">/target
                                                </td class="text-center">
                                                <td class="text-center">
                                                    1
                                                </td>
                                                <td class="text-center">
                                                    <button class="btn btn-info btn-circle" type="button"><i class="fa fa-check"></i>
                                                    </button>
                                                    <button class="btn btn-warning btn-circle" type="button"><i class="fa fa-times"></i>
                                                    </button>
                                                </td>
                                                <td class="text-center">
                                                    <div class="btn-group">
                                                    <button data-toggle="dropdown" class="btn btn-warning dropdown-toggle">操作 <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="#">置顶</a>
                                                        </li>
                                                        <li><a href="#">修改</a>
                                                        </li>
                                                        <li><a href="#">禁用</a>
                                                        </li>
                                                        <li class="divider"></li>
                                                        <li><a href="#">删除</a>
                                                        </li>
                                                    </ul>
                                                </div></td>
                                            </tr>
                                            <tr class="gradeX">
                                                <td class="text-center">网站首页</td>
                                                <td class="text-center">/target
                                                </td class="text-center">
                                                <td class="text-center">
                                                    1
                                                </td>
                                                <td class="text-center">
                                                    <button class="btn btn-info btn-circle" type="button"><i class="fa fa-check"></i>
                                                    </button>
                                                    <button class="btn btn-warning btn-circle" type="button"><i class="fa fa-times"></i>
                                                    </button>
                                                </td>
                                                <td class="text-center">
                                                    <div class="btn-group">
                                                    <button data-toggle="dropdown" class="btn btn-warning dropdown-toggle">操作 <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="#">置顶</a>
                                                        </li>
                                                        <li><a href="#">修改</a>
                                                        </li>
                                                        <li><a href="#">禁用</a>
                                                        </li>
                                                        <li class="divider"></li>
                                                        <li><a href="#">删除</a>
                                                        </li>
                                                    </ul>
                                                </div></td>
                                            </tr>
                                            <tr class="gradeX">
                                                <td class="text-center">网站首页</td>
                                                <td class="text-center">/target
                                                </td class="text-center">
                                                <td class="text-center">
                                                    1
                                                </td>
                                                <td class="text-center">
                                                    <button class="btn btn-info btn-circle" type="button"><i class="fa fa-check"></i>
                                                    </button>
                                                    <button class="btn btn-warning btn-circle" type="button"><i class="fa fa-times"></i>
                                                    </button>
                                                </td>
                                                <td class="text-center">
                                                    <div class="btn-group">
                                                    <button data-toggle="dropdown" class="btn btn-warning dropdown-toggle">操作 <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="#">置顶</a>
                                                        </li>
                                                        <li><a href="#">修改</a>
                                                        </li>
                                                        <li><a href="#">禁用</a>
                                                        </li>
                                                        <li class="divider"></li>
                                                        <li><a href="#">删除</a>
                                                        </li>
                                                    </ul>
                                                </div></td>
                                            </tr>
                                            <tr class="gradeX">
                                                <td class="text-center">网站首页</td>
                                                <td class="text-center">/target
                                                </td class="text-center">
                                                <td class="text-center">
                                                    1
                                                </td>
                                                <td class="text-center">
                                                    <button class="btn btn-info btn-circle" type="button"><i class="fa fa-check"></i>
                                                    </button>
                                                    <button class="btn btn-warning btn-circle" type="button"><i class="fa fa-times"></i>
                                                    </button>
                                                </td>
                                                <td class="text-center">
                                                    <div class="btn-group">
                                                    <button data-toggle="dropdown" class="btn btn-warning dropdown-toggle">操作 <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="#">置顶</a>
                                                        </li>
                                                        <li><a href="#">修改</a>
                                                        </li>
                                                        <li><a href="#">禁用</a>
                                                        </li>
                                                        <li class="divider"></li>
                                                        <li><a href="#">删除</a>
                                                        </li>
                                                    </ul>
                                                </div></td>
                                            </tr>
                                            <tr class="gradeX">
                                                <td class="text-center">网站首页</td>
                                                <td class="text-center">/target
                                                </td class="text-center">
                                                <td class="text-center">
                                                    1
                                                </td>
                                                <td class="text-center">
                                                    <button class="btn btn-info btn-circle" type="button"><i class="fa fa-check"></i>
                                                    </button>
                                                    <button class="btn btn-warning btn-circle" type="button"><i class="fa fa-times"></i>
                                                    </button>
                                                </td>
                                                <td class="text-center">
                                                    <div class="btn-group">
                                                    <button data-toggle="dropdown" class="btn btn-warning dropdown-toggle">操作 <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="#">置顶</a>
                                                        </li>
                                                        <li><a href="#">修改</a>
                                                        </li>
                                                        <li><a href="#">禁用</a>
                                                        </li>
                                                        <li class="divider"></li>
                                                        <li><a href="#">删除</a>
                                                        </li>
                                                    </ul>
                                                </div></td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th class="text-center">名称</th>
                                                <th class="text-center">链接地址</th>
                                                <th class="text-center">排序</th>
                                                <th class="text-center">状态</th>
                                                <th class="text-center">操作</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--右侧内容结束-->
            </div>
        </div>
        <!--右侧部分结束-->
    </div>
    
    
    <!-- 全局js -->
    <script src="{{__HOST__}}/admin/js/jquery.min.js?v=2.1.4"></script>
    <script src="{{__HOST__}}/admin/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="{{__HOST__}}/admin/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="{{__HOST__}}/admin/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <!-- Data Tables -->
    <script src="{{__HOST__}}/admin/js/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="{{__HOST__}}/admin/js/plugins/dataTables/dataTables.bootstrap.js"></script>
    <!-- 自定义js -->
    <script src="{{__HOST__}}/admin/js/hAdmin.js?v=4.1.0"></script>
    <script src="{{__HOST__}}/admin/js/content.js?v=1.0.0"></script>
    <script>
        $(function(){
            $('.dataTables-example').dataTable();
        })
    </script>
</body>

</html>
