<footer class="footer">
  <div class="footer-wrapper-bottom">
    <a href="http://www.miibeian.gov.cn/" target="_blank">{{website.record}}</a>
    <i></i>
    <a href="http://www.miibeian.gov.cn/" target="_blank">{{website.record}}</a>
  </div>
  <div class="footer-wrapper-bottom space-footer-bottom">
    <span>联系邮箱  w_kiwi@163.com</span>
    <i></i>
    <span class="copyrightLink">Copyright © <span class="date"></span>  <a target="_blank">wkiwi工作室</a></span>
  </div>
</footer> <!-- /.footer -->