<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="refresh" content="3; url={{redirect}}" />
    <meta charset="UTF-8">
    <title>{{message}}</title>
</head>
<body>
    <h1>{{message}}</h1>
    <h3 class="lighter smaller">
            网页三秒后将自动跳转...
         </h3>
         <div class="space"></div>
         <div class="center">
             <a href="{{redirect}}" class="btn btn-grey">
                 <i class="icon-arrow-left"></i>
                 立即返回
             </a>
        </div>
</body>
</html>
