<!--左侧导航开始-->
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="nav-close"><i class="fa fa-times-circle"></i>
    </div>
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="./index">
                        <span class="clear">
                            <span class="block m-t-xs" style="font-size:20px;">
                                <i class="fa fa-area-chart"></i>
                                <strong class="font-bold">koa2-cms</strong>
                            </span>
                        </span>
                    </a>
                </div>
                <div class="logo-element">koa2-cms
                </div>
            </li>
            <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
                <span class="ng-scope">分类</span>
            </li>
            <li>
                <a  href="{{__HOST__}}/admin/index" {{if G.url[1]=='index' || !G.url[1]}} class="active" {{/if}}>
                    <i class="fa fa-home"></i>
                    <span class="nav-label">主页</span>
                </a>
            </li>
            <li {{if G.url[1]=='website'}} class="active" {{/if}}>
                <a href="#">
                    <i class="fa fa-server"></i>
                    <span class="nav-label">网站设置</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level" {{if G.url[1]!='website'}} style="height:0px;" {{/if}}>
                    <li >
                        <a {{if G.url[1]=='website'&&!G.url[2]}} class="active" {{/if}} href="{{__HOST__}}/admin/website"><i class="fa fa-sitemap"></i> 站点信息</a>
                    </li>
                    <li>
                        <a {{if G.url[1]=='website'&&G.url[2]=='nav'&&!G.url[3]}} class="active" {{/if}} href="{{__HOST__}}/admin/website/nav"><i class="fa fa-share-alt"></i> 添加导航栏</a>
                    </li>
                    <li>
                        <a {{if G.url[1]=='website'&&G.url[2]=='nav'&&G.url[3]=='list'}} class="active" {{/if}} href="{{__HOST__}}/admin/website/nav/list"><i class="fa fa-bars"></i> 导航栏列表</a>
                    </li>
                    <li>
                        <a {{if G.url[1]=='website'&&G.url[2]=='banner'&&!G.url[3]}} class="active" {{/if}} href="{{__HOST__}}/admin/website/banner"><i class="fa fa-picture-o"></i> 添加轮播图</a>
                    </li>
                    <li>
                        <a {{if G.url[1]=='website'&&G.url[2]=='banner'&&G.url[3]=='list'}} class="active" {{/if}} href="{{__HOST__}}/admin/website/banner/list"><i class="fa fa-bars"></i> 轮播图列表</a>
                    </li>
                    <li>
                        <a {{if G.url[1]=='website'&&G.url[2]=='link'&&!G.url[3]}} class="active" {{/if}} href="{{__HOST__}}/admin/website/link"><i class="fa fa-puzzle-piece"></i> 添加友情链接</a>
                    </li>
                    <li>
                        <a {{if G.url[1]=='website'&&G.url[2]=='link'&&G.url[3]=='list'}} class="active" {{/if}} href="{{__HOST__}}/admin/website/link/list"><i class="fa fa-bars"></i> 友情链接列表</a>
                    </li>
                </ul>
            </li>
            <li class="line dk"></li>
            <li {{if G.url[1]=='content'}} class="active" {{/if}}>
                <a href="#">
                    <i class="fa fa-list"></i>
                    <span class="nav-label">内容设置</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level" {{if G.url[1]!='content'}} style="height:0px;" {{/if}}>
                    <li>
                        <a {{if G.url[1]=='content'&&!G.url[2]}} class="active" {{/if}} href="{{__HOST__}}/admin/content"><i class="fa fa-edit"></i> 添加内容</a>
                    </li>
                    <li>
                        <a {{if G.url[1]=='content'&&G.url[2]=='list'&&!G.url[3]}} class="active" {{/if}} href="{{__HOST__}}/admin/content/list"><i class="fa fa-bars"></i> 内容列表</a>
                    </li>
                    <li>
                        <a {{if G.url[1]=='content'&&G.url[2]=='classify'&&!G.url[3]}} class="active" {{/if}} href="{{__HOST__}}/admin/content/classify"><i class="fa fa-list-ol"></i> 添加内容分类</a>
                    </li>
                    <li>
                        <a {{if G.url[1]=='content'&&G.url[2]=='classify'&&G.url[3]=='list'}} class="active" {{/if}} href="{{__HOST__}}/admin/content/classify/list"><i class="fa fa-bars"></i> 内容分类列表</a>
                    </li>
                </ul>
            </li>
            <li class="line dk"></li>
            <li {{if G.url[1]=='user'}} class="active" {{/if}}>
                <a href="#">
                    <i class="fa fa-users"></i>
                    <span class="nav-label">人员管理</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level" {{if G.url[1]!='user'}} style="height:0px;" {{/if}}>
                    <li>
                        <a {{if G.url[1]=='user'&&!G.url[2]}} class="active" {{/if}} href="{{__HOST__}}/admin/user"><i class="fa fa-user-plus"></i> 添加管理员</a>
                    </li>
                    <li>
                        <a {{if G.url[1]=='user'&&G.url[2]=='list'&&!G.url[3]}} class="active" {{/if}} href="{{__HOST__}}/admin/user/list"><i class="fa fa-user"></i> 管理员列表</a>
                    </li>
                </ul>
            </li>
            <li class="line dk"></li>
            <li {{if G.url[1]=='system'}} class="active" {{/if}}>
                <a href="#">
                    <i class="fa  fa-gear"></i>
                    <span class="nav-label">系统信息</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li>
                        <a {{if G.url[1]=='system'&&!G.url[2]}} class="active" {{/if}} href="{{__HOST__}}/admin/system"><i class="fa fa-line-chart"></i> 发展历程</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>

<!--左侧导航结束-->